<script src="https://cdn.auth0.com/js/lock-passwordless-1.0.min.js"></script>
<script type="text/javascript">
var lock = new Auth0LockPasswordless(
  '<%= ENV['AUTH0_CLIENT_ID'] %>',
  '<%= ENV['AUTH0_DOMAIN'] %>'
);
function openSignIn() {
  return lock.magiclink({
    callbackURL: '<%= @callback_url %>',
    authParams: {
      scope: 'openid email'  // Learn about scopes: https://auth0.com/docs/scopes
    }
  });
}
</script>
<button onclick="window.openSignIn();">Join / Sign In</button>
