<article>

<section class="nested">
<%= simple_format @intro %>

<%= link_to 'Create a story', :organizations %>
</section>

<section class="nested">
<%= render 'layouts/mailing_list_form' %>
</section>

</article>