<article>

<header>
<h1>Add Service Credential</h1>
</header>

<section>
<%= render 'form', service_credential: @service_credential %>
</section>

<nav>
<p><%= link_to 'Back', organization_service_credentials_path %></p>
</nav>

</article>
