<%= render 'nav' %>

<article>

<section>
<% @s3_credentials.each do |s3_credential| %>
  <article>
    <h2><%= link_to "#{s3_credential.access_key_id} @ #{s3_credential.region}", [@organization, s3_credential] %></h2>
    <%= link_to 'Delete', [@organization, s3_credential], data: { confirm: 'Are you sure?' }, method: :delete %>
  </article>
<% end %>
</section>

<nav>
<p><%= link_to 'Add S3 Credential', new_organization_s3_credential_path(@organization) %></p>
</nav>

</article>
