<article>

<header>
<h1>Add S3 Credential</h1>
</header>

<section>
<%= render 'form', s3_credential: @s3_credential %>
</section>

<nav>
<p><%= link_to 'Back', organization_s3_credentials_path %></p>
</nav>

</article>
