<article>
<h1>Stories</h1>

<% if @item_relationships.nil? %>

<p>First, create the tag #story and tag items for them to appear here.</p>

<% else %>

<p><%= pluralize(@item_relationships.count, 'item') %> tagged</p>

<ul>
<% @item_relationships.each do |item_relationship| %>
  <li>
  <%= item_relationship.item_sha_256 %>
  </li>
<% end %>
</ul>

<% end %>

</article>