<%= render 'organizations/nav' do %>
<h1>Stories</h1>
<% end %>

<article>

<% if @item_relationships.nil? %>

<p>Tag items #story for them to appear here.</p>

<% else %>

<p><%= pluralize(@item_relationships.count, 'story') %> tagged</p>

<ul>
<% @item_relationships.each do |item_relationship| %>
  <li>
  <%= item_relationship.item_sha_256 %>
  </li>
<% end %>
</ul>

<% end %>

</article>

<script>
window.promiseCollectedImageURL = function(options) {
  var sha256 = options.sha256;
  var urlPlaceholder = "<%= imgix_organization_image_url(@organization, sha256: '__SHA256__') %>";
  return $.ajax({
    url: urlPlaceholder.replace('__SHA256__', sha256),
    data: options,
    dataType: 'html'
  })
  .then(function(result) {
    return { html: result };
  });
}
</script>

<div class="flambe-app" data-destination="bootstrap">
<div class="flambe-app-content">
Make any file only a click away #primary

Quickly open your most important files. #image #collected: 461e2b1aa6c7bea5361e323eca1c457656caf9f97a2343541d07cdcb83a3eb20 #width: 200

Organization for professionals of all sorts. #image #unsplash: macbook

Free on the Mac App Store #cta #primary #link: @links.macAppStore

@legal #small
</div>
<script type='flambe' class="flambe-app-ingredients">
[
	{
		"id": "links",
		"type": "json",
		"variations": [
			{
				"rawContent": "{\"macAppStore\": \"https://itunes.apple.com/us/app/blik/id955293604?mt=12\"}"
			}
		]
	},
	{
		"id": "legal",
		"type": "text",
		"variations": [
			{
				"rawContent": "Copyright Patrick Smith. 2016"
			}
		]
	}
]
</script>
<script type='flambe' class="flambe-app-scenarios">
[
	{
		"links": 0,
		"legal": 0
	}
]
</script>
</div>