<%= render 'organizations/nav' %>

<article>

<header>
<h1>Stories</h1>
</header>

<% if @item_relationships.nil? %>

<p>Tag items #story for them to appear here.</p>

<% else %>

<p><%= pluralize(@item_relationships.count, 'story') %> tagged</p>

<ul>
<% @item_relationships.each do |item_relationship| %>
  <li>
  <%= item_relationship.item_sha_256 %>
  </li>
<% end %>
</ul>

<% end %>

</article>