<% can_remove = local_assigns.fetch :can_remove, true %>
<% kind = local_assigns.fetch :kind, nil %>
<% kind_class = local_assigns.fetch :kind_class, nil %>

<section class="nested <%= kind_class %>">
<p><%= pluralize(count_relation(item_relationships), item_name) %></p>
<ul class="tagged-items">
<% item_relationships.each do |item_relationship| %>
  <% item = item_relationship.item %>
  <li class="tagged-item">
  <%#= link_to [item.organization, item] do %>
    <h5 class="tagged-item_hash"><%= item.sha256 %></h5>
  <%# end %>
  <% if can_remove %>
  <%= link_to 'Remove', [@organization, item_relationship], data: { confirm: 'Are you sure? You can always tag it again.' }, method: :delete %>
  <% end %>
  </li>
<% end %>
</ul>
</section>