<%= render 'nav' %>

<article>

<header>
<h1>Tags</h1>
</header>

<section>
<% @tags.each do |tag| %>
  <article class="tag">
    <h2>
    <%= link_to "##{tag.name}", [@organization, tag], class: "tag--#{tag.name}" %>
    ·
    <%= tag.item_relationships.count %>
    </h2>
  </article>
<% end %>
</section>

<nav>
<p>
<%= link_to 'New Tag', new_organization_tag_path(@organization) %>
</p>
</nav>

</article>
