<h1>Editing Organization Invitation</h1>

<%= render 'form', organization_invitation: @organization_invitation %>

<%= link_to 'Show', @organization_invitation %> |
<%= link_to 'Back', organization_invitations_path %>
