<span class="ripple_dot ripple_dot-outer" style="background-color: #<%= ripple.key_hex_color_1 %>">
  <span class="ripple_dot ripple_dot-inner" style="background-color: #<%= ripple.key_hex_color_2 %>"></span>
</span>