$link-color: #f82484;

* {
  margin: 0;
}

html {
	font-size: 18px;
	font-size: calc(112.5% + 2 * (100vw - 600px) / 400);
	background-color: #211;
  color: #fafafa;
}

body {
  box-sizing: border-box;
	max-width: 100vw;
	margin: auto;
	padding: 1.333333333rem 1.7em;
	line-height: 1.333333333rem;
	font-family: system, "-apple-system", "-webkit-system-font", BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Segoe UI", "Roboto", "Arial", "freesans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	-webkit-hypens: auto; -ms-hypens: auto; hypens: auto;
}

nav,
header,
article {
  > * {
    max-width: 30rem;
    margin: auto;
  }
}

%link {
  color: $link-color;
}

%link--normal {
  text-decoration: none;
}

%action-area {
  padding: 0.333em 0.444em;
  background-color: rgba($link-color, 0.1);
}

%button {
  @extend %link;
  @extend %action-area;

  display: inline-block;
  text-decoration: none;
}

%space-below {
  margin-bottom: 0.444rem;
}

a {
  @extend %link;
}

nav {
  > * {
    @extend %space-below;
  }

  h2 {
    font-size: 0.75rem;
  }

  a {
    @extend %button;
  }
}

header {
  margin-bottom: 1rem;

  p {
    font-size: 0.75rem;
  }

  a {
    @extend %link--normal;
  }
}

article {
  h1 {
    font-size: 2rem;
    line-height: 1.2;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    @extend %space-below;
    
    font-size: 1.2rem;
  }

  header,
  section {
    margin-bottom: 1rem;
  }

  .nested {
    @extend %action-area;

    padding: 1rem;
  }
}

form {
  input[type=submit] {
    @extend %button;

    font-size: 1rem;
    border: none;
  }
}

.field, .actions {
  margin-bottom: 10px;
}
.field {
  input {
    font-size: 1rem;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
