@import 'base';

* {
  margin: 0;
}

html {
	font-size: 16px;
	font-size: calc(100% + 2 * (100vw - 600px) / 400);
	background-color: $background-color;
  color: #fafafa;
}

body {
  box-sizing: border-box;
	max-width: 100vw;
	margin: auto;
	//padding: 1.333333333rem 1.7em;
	line-height: 1.333333333rem;
	font-family: system, "-apple-system", "-webkit-system-font", BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Segoe UI", "Roboto", "Arial", "freesans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	-webkit-hypens: auto; -ms-hypens: auto; hypens: auto;
}

a {
  @extend %link;
}

button {
  @extend %button;
}

small {
  strong {
    font-size: 66.666%;
    font-weight: inherit;
  }
}

main {
  > section,
  > nav,
  > header,
  > article {
    @extend %content-holder;
  }

  > section {
    margin-bottom: 1rem;
  }

  > nav {
    margin-bottom: 1rem;

    > .content {
      > * {
        display: inline-block;
        font-size: 1rem;
      }

      > * + *:before {
        content: ' / ';
        opacity: 0.222;
      }
    }
  }
}

nav, h1, h2, h3 {
  a {
    @extend %link--normal;
  }
}

header {
  //padding-top: 1rem;
  margin-bottom: 1rem;

  p {
    font-size: 0.75rem;
  }
}

dt {
  @extend %space-above;

  font-weight: bold;
}

hr {
  @extend %space-above;
  @extend %space-below;
  border: 1px solid $link-color;
}

article {
  h1 {
    font-size: 2rem;
    line-height: 1.2;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  h3, h2 > small {
    @extend %space-below;
    
    font-size: 1.2rem;
    line-height: 1.2;
  }

  p + p {
    @extend %space-above;
  }

  header,
  section {
    margin-bottom: 1rem;
  }

  nav {
    > * {
      @extend %space-below;
    }

    h2 {
      font-size: 0.75rem;
    }

    a {
      @extend %button;
    }
  }
}

.nested {
  @extend %action-area;
  @extend %action-area--tintable;

  padding: 1rem;
}

form {
  input[type=submit] {
    @extend %button;

    font-size: 1rem;
    border: none;
  }
}

label {
  display: block;

  // Checkbox
  input + & {
    display: inline-block;
    padding-left: 0.333em;
    padding-right: 1em;
  }
}

.actions {
    display: flex;

    > * {
      margin-right: 0.75em;
    }

    a {
      @extend %link--normal;
    }
  }

.field, .actions {
  margin-bottom: 10px;
}
.field {
  input {
    font-size: 1rem;
  }
}

.tagged-items {
  list-style: none;
  padding: 0;
}
.tagged-item_hash {
  font-size: 0.75rem;
}

header.primary {
  @extend %action-area;
  @extend %content-holder;

  > nav {
    text-align: right;

    > * {
      display: inline-block;
      font-size: 1rem;
      line-height: 1.3;
    }
  }
}

#flash {
  @extend %space-below;

  background-color: #eee;
}
#flash-alert {
  color: red;
}
#flash-notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  color: black;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul {
    padding-left: 1em;
  }
  ul li {
    font-size: 12px;
  }
}
