<header>
<h1>Organizations</h1>
</header>

<article>

<section>
<% @organizations.each do |organization| %>
  <article>
    <h2><%= link_to "@#{organization.name}", organization %></h2>
  </article>
<% end %>
</section>

<nav>
<p><%= link_to 'New Organization', new_organization_path %></p>
</nav>

</article>
