<article>

<header>
<h1>@<%= @organization.name %></h1>
<p>
<%= link_to 'Settings', edit_organization_path(@organization) %>
</p>
</header>

<nav>
<p>
<%= link_to 'Tags', organization_tags_path(@organization) %>
</p>
</nav>

</article>