<%= render 'nav' %>

<article>

<% if @item_relationships.nil? %>

<p>Tag items #text for them to appear here.</p>

<% else %>

<p><%= pluralize(@item_relationships.count, 'text') %> tagged</p>

<section>
<% @items.each do |item| %>
<%= render partial: 'item', object: item %>
<% end %>
</section>

<div class="actions">
</div>

<% end %>

</article>