<article>
<h1>Texts</h1>

<% if @item_relationships.nil? %>

<p>Tag items #text for them to appear here.</p>

<% else %>

<p><%= pluralize(@item_relationships.count, 'text') %> tagged</p>

<section>
<% @items.each do |item| %>
  <article class="nested">
  <small><strong><%= item[:sha256] %></strong></small>
  <pre><%= item[:text] %></pre>
  </article>
<% end %>
</section>

<% end %>

</article>