<%= render 'nav' %>

<article>

<% if @item_relationship.present? %>

<section>
<%= render partial: 'item', object: @item %>
</section>

<% else %>
<h5><%= 'Item not found.' %></h5>
<% end %>

</article>