<%= render 'organizations/nav' do %>
  <% unless current_page? action: 'index' %>
  <h3><%= link_to 'Images', organization_images_path(@organization) %></h3>
  <% else %>
  <h1><%= 'Images' %></h1>
  <% end %>
<% end %>
