<%= render 'organizations/nav' %>

<article>

<header>
<h1>Images</h1>
</header>

<% if @item_relationships.nil? %>

<p>Tag items #image for them to appear here.</p>

<% else %>

<p><%= pluralize(@item_relationships.count, 'image') %> tagged</p>

<section>
<% @items.each do |item| %>
  <figure class="nested">
  <%= render_image item[:sha256] %>
    <figcaption>
    <% item[:tag_relationships].each do |item_tag_relationship| %>
      <% tag = item_tag_relationship.tag %>
      <%= link_to "##{ item_tag_relationship.tag.name }", [@organization, tag] %>
    <% end %>
    </figcaption>
  </figure>
<% end %>
</section>

<% end %>

</article>