<%= render 'nav' %>

<article>

<% if @item_relationships.nil? %>

<p>Tag items #image for them to appear here.</p>

<% else %>

<p><%= pluralize(@item_relationships.count, 'image') %> tagged</p>

<section>
<% @items.each do |item| %>
  <%= render partial: 'item', object: item %>
<% end %>
</section>

<% end %>

</article>