<%= render 'nav' %>

<article>

<section class="nested">
<%= render 'tags/item_form', item_tag_relationship: @new_item_relationship %>
</section>

<% if @item_relationships.nil? %>

<p>Tag items #image for them to appear here.</p>

<% else %>

<p><%= pluralize(@item_relationships.count, 'image') %> tagged</p>

<section>
<%= render partial: 'item', collection: @items, locals: { nested: true } %>
</section>

<% end %>

</article>